.panel{
    box-shadow: 0 0 30px #edebeb;
}

header{
    margin-bottom:20px;
}

.panel-heading > h4{
    margin: 0;
    padding: 0;
}

.panel-body{
    height: 75vh;
    position: relative;
}

.list{
    height: 80%;
    overflow-x: hidden;
    overflow-y:auto;
}

.panel-body .info{
    width: 100%;
    height: 80%;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position:absolute;
}

.panel-body .container-object-fit{
   width: 10rem;
   height: 10rem;
}

.list-group-item{
    display: flex;
}

.content{
    padding-left: 20px;
}

.controls{
    margin-left: auto;
    display: flex;
    flex-direction: column;
}

.controls a, input{
    /*margin-top: 10px;*/
    margin-bottom: 1em;
}

.well{
    /*overflow: auto*/
    display: flex;
    align-items: center;
    position: absolute;
    bottom: 0;
    left: 15px;
    right: 15px;
}

.well .btn-primary, .btn.pull-right{
    margin-left: auto; 
}

.well h2, .well h4{
    margin: 0;
    padding: 0;
    margin-right: 20px; 
}

fieldset{
    margin-top: 15px;
}

fieldset .btn{
    margin-left: 15px;
}

.modal{
    background: rgba(0, 0, 0, 0.5);
}

/*//deep acessa os elementos de um componente filho*/
/*app-navbar-start >>> .navbar-start{
  display: block;
  position: static;
  opacity: 1.0;
}

app-navbar-start >>> .navbar-start.hide{
  display: block;
  position: static;
  opacity: 1.0;
}*/