<div id="component">
  <header>
    <app-header *ngIf="logged == false" ></app-header>
    <app-navbar-start *ngIf="logged == false"></app-navbar-start>  
  </header>

  <!--<app-navbar-cliente></app-navbar-cliente>-->

  <div *ngIf="page == 0" class="container">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h4>{{ title1 }}</h4>
        <!--<ul class="nav nav-pills">
          <span class="glyphicon glyphicon-cart"></span>
          <li><a href="#">Messages <span class="badge">3</span></a></li>
        </ul>-->
      </div>
      <div class="panel-body">
        <div class="list">
          <div class="list-group">
            <!--routerLink="/detalhe_produto"-->
            <a routerLink="/detalhe_produto" class="list-group-item" *ngFor="let produto of clientService.carrinho; let i = index" >
              <div class="container-object-fit">
                <img class="item-object-fit" src="./assets/images/components/produtos/{{clientService.carrinho[i].img}}" alt="">
              </div>
              <div class="content">
                <h4 class="list-group-item-heading">{{clientService.carrinho[i].nome}}</h4>
                <p class="list-group-item-text">{{clientService.carrinho[i].nome}}</p>
                <h3 class="">R$ {{ clientService.parsePrice(clientService.carrinho[i].preco) }}</h3>
              </div>
              <div (click)="$event.stopPropagation(); $event.preventDefault()" class="controls">
                <input class="form-control" (change)="clientService.sumProducts()" [(ngModel)]="clientService.qtd[produto.id]" type="number" name="qtd" value="" max="{{ clientService.carrinho[i].estoque }}" min="1">
                <a (click)="clientService.removeFromCart(produto)" class="btn btn-default"><span class="glyphicon glyphicon-trash"></span> remover</a>
              </div>
            </a>
            <div class="info" *ngIf="clientService.carrinho.length == 0" >
              <span>Ops! no momento você não tem produtos no carrinho :(</span>
              <h3>Vá em frente compre algo Xique para você.</h3>
            </div>
          </div>
        </div>
        <div class="well well-lg">
          <h4>Valor Total:</h4>
          <h2 class="text-success" >
            R$ {{ clientService.parsePrice(clientService.valorTotal) }}
          </h2>
          <a (click)="next()" class="btn btn-primary btn-lg pull-right">comprar</a>
        </div>
      </div>
    </div>
  </div>

  <div *ngIf="page == 1" class="container">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h4>{{ title1 }}</h4>
        <!--<ul class="nav nav-pills">
          <span class="glyphicon glyphicon-cart"></span>
          <li><a href="#">Messages <span class="badge">3</span></a></li>
        </ul>-->
      </div>
      <div class="panel-body">

        <fieldset>
        <legend>{{ title2 }}</legend>
        <div class="form-group col-md-4">
          <label for="inputLogradouro" class="control-label">Logradouro</label>
          <input type="text" class="form-control" id="inputLogradouro" placeholder="Informe o logradouro do local onde mora" name="logradouro">
        </div>

        <div class="form-group col-md-2">
          <label for="inputNumero" class="control-label">Número</label>
          <input type="tel" class="form-control" id="inputNumero" placeholder="Número" name="numero">
        </div>

        <div class="form-group col-md-2">
          <label for="inputComplemento" class="control-label" [class.has-error]="verificadores.complemento == false">Complemento</label>
          <input type="text" class="form-control" id="inputComplemento" placeholder="Se houver" name="complemento">
        </div>

        <div class="form-group col-md-4">
          <label for="inputBairro" class="control-label">Bairro</label>
          <input type="text" class="form-control" id="inputBairro" placeholder="Informe o bairro" name="bairro">
        </div>

        <div class="form-group col-md-4">
          <label for="inputCidade" class="control-label">Cidade</label>
          <input type="text" class="form-control" id="inputCidade" placeholder="Informe a cidade onde você vive" name="cidade">
        </div>

        <div class="form-group col-md-4">
          <label for="inputEstado" class="control-label">Estado</label>
          <input type="text" class="form-control" id="inputEstado" placeholder="Informe o estado" name="estado">
        </div>

        <div class="form-group col-md-4">       
          <label for="inputCep" class="control-label">CEP</label>
          <input type="tel" class="form-control" id="inputCep" placeholder="Insira o CEP de sua residência" name="cep">
        </div>
      </fieldset>
        
      </div>
    </div>
  </div>

</div>
<app-footer></app-footer>



