<div id="component">
  <header>
    <app-header></app-header>
  </header>

  <!--<app-navbar-cliente></app-navbar-cliente>-->

  <div *ngIf="page == 0" class="container">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h4>{{ title }}</h4>
        <!--<ul class="nav nav-pills">
          <span class="glyphicon glyphicon-cart"></span>
          <li><a href="#">Messages <span class="badge">3</span></a></li>
        </ul>-->
      </div>
      <div class="panel-body">
        <div class="list">
          <div class="list-group">
            <!--routerLink="/detalhe_produto"-->
            <a class="list-group-item" *ngFor="let produto of clientService.carrinho; let i = index" >
              <div class="container-object-fit">
                <img class="item-object-fit" src="./assets/images/components/produtos/{{clientService.carrinho[i].img}}" alt="">
              </div>
              <div class="content">
                <h4 class="list-group-item-heading">{{clientService.carrinho[i].nome}}</h4>
                <p class="list-group-item-text">{{clientService.carrinho[i].nome}}</p>
                <h3 class="">R$ {{ clientService.parsePrice(clientService.carrinho[i].preco) }}</h3>
              </div>
              <div (click)="$event.stopPropagation(); $event.preventDefault()" class="controls">
                <a (click)="clientService.removeFromCart(produto)" class="btn btn-default"><span class="glyphicon glyphicon-trash"></span></a>
                <select class="form-control" id="select">
                  <option>1</option>
                  <option>2</option>
                  <option>3</option>
                  <option>4</option>
                  <option>5</option>
                </select>
              </div>
            </a>
            <div class="info" *ngIf="clientService.carrinho.length == 0" >
              <span>Ops! no momento você não tem produtos no carrinho :(</span>
              <h3>Vá em frente compre algo Xique para você.</h3>
            </div>
          </div>
        </div>
        <div class="well well-lg">
          <h4>Valor Total:</h4>
          <h2 class="text-success" >
            R$ {{ clientService.parsePrice(clientService.valorTotal) }}
          </h2>
          <a (click)="next()" class="btn btn-primary btn-lg pull-right">comprar</a>
        </div>
      </div>
    </div>
  </div>

  <div *ngIf="page == 1" class="container">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h4>{{ title }}</h4>
        <!--<ul class="nav nav-pills">
          <span class="glyphicon glyphicon-cart"></span>
          <li><a href="#">Messages <span class="badge">3</span></a></li>
        </ul>-->
      </div>
      <div class="panel-body">
        
      </div>
    </div>
  </div>

</div>
<app-footer></app-footer>



