.mostrar-produto-box{
    background-color: #F5F5F5;    
    width: 100%;
    height: auto;
    margin-top: 20px;
    margin-bottom: 20px;
    box-shadow: 0px 0px 30px #edebeb;
    padding: 20px;
    border-bottom: 4px solid #d6d3d3;
}

.imagens{
    height: 200px;
    width: 200px;
    background-color: white;
    overflow: hidden;
}

.botoes{
    /*display: inline-block*/
    float: right;
}
.fechar{
    position: absolute;
}
/*.miniatura{
    padding-right: 5px;
    padding-left: 5px;
}*/

.modal.show {
	display:block;
}