<nav class="navbar navbar-default">
  <!--  comentario -->
  <div class="container">
    <div class="row">
      <div class="col-md-4"></div>
      <div class="col-md-4"></div>
      <div class="col-md-4">
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav navbar-right">
            <li>
              <div class="btn-group btn-entrar-dropdown">
                <button class="btn btn-primary btn-sm dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  Entrar <span class="caret"></span>
                </button>
                <ul class="dropdown-menu">
                  <form>
                    <li>
                      <div class="input-group input" [class.has-error]="dadosLogin.email.estado === false">
                        <input type="text" class="form-control" placeholder="Email" aria-describedby="basic-addon1" name="emailInput" [(ngModel)]="dadosLogin.email.valor" (change)="verificaEmail()">
                        <app-mensagem-erro-input *ngIf="dadosLogin.email.estado === false" mensagemDeErro="{{dadosLogin.email.mensagem}}"></app-mensagem-erro-input>
                      </div>
                    </li>
                    <li>
                      <div class="input-group input" [class.has-error]="dadosLogin.senha.estado === false">
                        <input type="password" class="form-control" placeholder="Senha" aria-describedby="basic-addon1" name="senhaInput" [(ngModel)]="dadosLogin.senha.valor" (change)="verificaSenha()">
                        <app-mensagem-erro-input *ngIf="dadosLogin.senha.estado === false" mensagemDeErro="{{dadosLogin.senha.mensagem}}"></app-mensagem-erro-input>
                      </div>
                    </li>
                    <li>
                      <div class="btn">
                        <button name="button" class="btn btn-primary btn-entrar" (click)="entrar(); $event.stopPropagation()">Entrar</button>
                      </div>
                    </li>
                  </form>
                </ul>
              </div>
            </li>
            <li>
              <div class="btn-group btn-cadastro">
                <button *ngIf="router.url !== '/cadastro'" class="btn btn-primary btn-sm dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  Cadastre-se <span class="caret"></span>
                </button>
                <ul *ngIf="router.url !== '/cadastro'" class="dropdown-menu">
                  <li><a (click)="cadastrarUsuario()" routerLink="/cadastro">Cadastre-se como cliente</a></li>
                  <li role="separator" class="divider"></li>
                  <li><a (click)="cadastrarArtesao()" routerLink="/cadastro">Cadastre-se como artesão</a></li>
                </ul>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</nav>
