<nav class="navbar navbar-default">
  <div class="container">
    <div class="row">
      <div class="col-md-2">
        <div class="pessoa">
          <div class="foto">
            <img src="https://yt3.ggpht.com/-Yr_vFB0pASA/AAAAAAAAAAI/AAAAAAAAAAA/2XdpmdI2lTE/s48-c-k-no-mo-rj-c0xffffff/photo.jpg" alt="">
          </div>
          <div class="nomePessoa dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            {{ userName }} <span class="caret"></span>
          </div>
          <ul class="dropdown-menu">
            <li><a href="#">Editar Perfil</a></li>
            <li role="separator" class="divider"></li>
            <li><a (click)="logout()">Sair</a></li>
          </ul>
        </div>
      </div>
      <div class="col-md-8">
        <div class="menu">
          <ul>
            <li><a href="">Pedidos</a></li>
            <li><a href="">Gestão</a></li>
            <li><a href="">Minha Loja</a></li>
          </ul>
      </div>
    </div>
    <div class="col-md-2">
      <div class="icones">
        <div class="mensagens">
          <div class="glyphicon glyphicon-comment"></div>
        </div>
        <div class="explorar">
          <div class="glyphicon glyphicon-plane"></div>
        </div>
      </div>
    </div>
  </div>
  </div>
</nav>