<div class="card">
    <div class="col-md-3 img-container">
      <div class="titulo">
        <h3 #nome>
          {{ produto.nome }}
        </h3>
      </div>
      <div class="degrade"></div>
      <div class="img">
          <!--<img #imagemProduto src="https://s-media-cache-ak0.pinimg.com/736x/0f/82/19/0f8219c0c0b498c6b0a50cf1753a1214.jpg" alt=""> -->
          <!--<img #imagemProduto src="./assets/images/components/produtos/{{ produto.imagem }}" alt="" > -->
          <!--<img #imagemProduto src="./assets/uploads/imagens-produtos/{{ produto.imagem }}" alt="" > -->
          <img #imagemProduto src="./assets/uploads/imagens-produtos/{{ produto.imagem[0] }}" alt="" > 
          <!--<img #imagemProduto src="../../../../../quixique-backend/uploads/file-1498875497150.jpg" alt="" > -->
          <!--/media/brendon/Windows8_OS/Users/Brendon/Desktop/UFC/5° Semestre/Projeto Integrado III/Projeto Quixique Final/quixique-backend/uploads/file-1498875497150.jpg-->
      </div>
    </div>
    <div class="col-md-4 corpo">
      <div class="card-text" #descricao>
        {{ produto.descricao }}
      </div>
    </div>
    <div class="col-md-5 infos">
      <div class="infos-content">
        <div class="col-md-6">
          <span class="info-text">Estoque: <br> <span #unidades>{{ produto.estoque }}</span> unidades</span>
        </div>
        <div class="col-md-6">
          <span class="info-text">Valor: <br> R$ <span #preco>{{ produto.preco }}</span></span>
        </div>
      </div>
      <!--<h1>teste</h1>-->
      <div class="botoes">
        <!--<button class="btn btn-primary" (click)="pegarDados(imagemProduto.src, nome.innerText, descricao.innerText, unidades.innerText, preco.innerText)">Ver peça</button>-->
        <button class="btn btn-primary" (click)="pegarDadosProduto(produto)">Ver peça</button>
      </div>
    </div>
</div>
