<div class="card">
    <div class="col-md-3 img-container">
      <div class="titulo">
        <h3>
          <!--{{ produto.descricao }}          -->
          {{ produto.nome }}
        </h3>
      </div>
      <div class="degrade"></div>
      <div class="img">
          <img #imagemProduto src="{{ serverBaseImageUrl }}/imagens-produtos/{{ produto.imagem[0] }}" alt="" > 
      </div>
    </div>
    <div class="col-md-4 corpo">
      <div class="card-text" #descricao>
        {{ produto.descricao }}
      </div>
    </div>
    <div class="col-md-5 infos">
      <div class="infos-content">
        <div class="col-md-6">
          <span class="info-text">Estoque: <br> <span #unidades>{{ produto.estoque }}</span> unidades</span>
        </div>
        <div class="col-md-6">
          <span class="info-text">Valor: <br> R$ <span #preco>{{ produto.preco }}</span></span>
        </div>
      </div>
      <div class="botoes">
        <button class="btn btn-primary" (click)="pegarDadosProduto(produto); servico.showVerPecas()">Ver peça</button>
      </div>
    </div>
</div>
