<div class="listaShow">
  <div class="row">
    <div class="col-md-12">

      <div class="card">
        <div class="row">
          <div class="col-md-2">
            <div class="img">
              <!-- <img src="https://s-media-cache-ak0.pinimg.com/736x/0f/82/19/0f8219c0c0b498c6b0a50cf1753a1214.jpg" alt=""> -->
              <div class="titulo">
                <h3>
                  Lata de lixo feita com tampinhas de garrafa
                </h3>
              </div>
              <div class="degrade"></div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="card-header">
              <div class="row">
                <div class="col-md-6">
                  <div class="foto-ecomendante">
                    <img src="https://68.media.tumblr.com/avatar_372ef1273827_128.png" alt="">
                  </div>
                  <h5 class="nome-encomendante">Juana da silva</h5>
                  <ul class="classificacao">
                    <li><div class="glyphicon glyphicon-star"></div></li>
                    <li><div class="glyphicon glyphicon-star"></div></li>
                    <li><div class="glyphicon glyphicon-star"></div></li>
                    <li><div class="glyphicon glyphicon-star-empty"></div></li>
                    <li><div class="glyphicon glyphicon-star-empty"></div></li>
                  </ul>
                </div>
                <div class="col-md-6">
                  <div class="tempo-restante">
                    <span class="glyphicon glyphicon-time"></span>
                    <h4 class="tempo">Expira em:</h4>
                    <h4 class="tempo-dias">5 dias 5:40 min</h4>
                  </div>
                </div>
              </div>
              <p class="card-text">
                Olá, queria encomendar essa linda lata de lixo pro aniversário da minha sobrinha Jamile
                é muito importante pois ela adora latas de lixo, por isso preciso dela até o dia
                26 de junho pra bater os parabéns dela, ela ta fazendo 7 anos e queria uma lata de lixo.
              </p>
            </div>
          </div>
          <div class="col-md-4">
            <div class="price">
              <div class="row">
                <div class="col-md-6">
                  <h3 class="unidades">1 Unidade</h3>
                  <h3 class="valor-total">R$ 54,99</h3>
                </div>
                <div class="col-md-6">
                  <div class="prazo-entrega">
                    <h2>25</h2>
                    <h5>dias</h5>
                  </div>
                </div>
                <div class="col-md-12">

                  <div class="botoes">
                    <button class="btn btn-default">Recusar</button>
                    <button class="btn btn-primary">Aceitar</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>
