<div id="myCarousel" class="carousel slide" data-ride="carousel">
    <div id="logo" [class.cadastro]="formShow" (click)="hideForm('close')">
        <h1>Quixique</h1>
            <app-form-cadastro-start class="form" (closeForm)="hideForm($event)"></app-form-cadastro-start>            
        <a class="btn btn-primary btn-lg" (click)="showForm()">Entre ou Cadastre-se</a>
    </div>
    <!-- Indicators -->
    <!--<ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
        <li data-target="#myCarousel" data-slide-to="2"></li>
        <li data-target="#myCarousel" data-slide-to="3"></li>
    </ol>-->

    <!-- Wrapper for slides -->
    <div class="carousel-inner">
        <!--<div #container [class.active]="currentImg == i" class="item container-object-fit" *ngFor="let item of imgs; let i = index" >
            <img class="item-object-fit {{ itemClass[i] }}" src="http://localhost:3000/capas/capa ({{ imgs[i] }}).png" >
        </div>-->

        <div class=" item active">
            <div #container class="container-object-fit" > 
                <img #img1 (load)="ajustCover(img1)" class="item-object-fit {{ itemClass[0] }}" src="{{ baseImageUrl }}/capas/capa ({{ imgs[0] }}).png" >
            </div>
        </div>
        <div class=" item">
            <div class="container-object-fit" >
                <img #img2 (load)="ajustCover(img2)" class="item-object-fit {{ itemClass[1] }}" src="{{ baseImageUrl }}/capas/capa ({{ imgs[1] }}).png" >
            </div>
        </div>

        <div class=" item">
            <div class="container-object-fit" >
                <img #img4 (load)="ajustCover(img3)" class="item-object-fit {{ itemClass[2] }}" src="{{ baseImageUrl }}/capas/capa ({{ imgs[2] }}).png" >
            </div>
        </div>
        <div class=" item">
            <div class="container-object-fit" >                
                <img #img4 (load)="ajustCover(img4)" class="item-object-fit {{ itemClass[3] }}" src="{{ baseImageUrl }}/capas/capa ({{ imgs[3] }}).png" >
            </div>
        </div>
    </div>
</div>
<app-infografico></app-infografico>
