<app-header></app-header>
<app-navbar *ngIf="userType == 'artesao'"></app-navbar>
<app-navbar-cliente *ngIf="userType == 'cliente'"></app-navbar-cliente>
<app-navbar-start *ngIf="!isLogged"></app-navbar-start>
<div class="container">
  <app-capa-apresentacao [infoCapa]="infoPerfil" (irParaSaibaMais)="irParaSaibaMais()" (irParaMeusProdutos)="irParaMeusProdutos()"></app-capa-apresentacao>
  <div class="sub-container">
    <div class="portfolio portfolio-anchor">
      <h1>Portfólio</h1>
      <app-portfolio-processos-viewer parentDivClass="sub-container"></app-portfolio-processos-viewer>
    </div>
    <div class="meus-produtos">
      <h1>Meus produtos</h1>
      <app-produtos-perfil-artesao urlProdutosArtesao="{{ urlProdutos }}"></app-produtos-perfil-artesao>
    </div>
  </div>
  <div class="saiba-mais">
    <h1>Saiba mais</h1>
    <!-- modo de exibição -->
    <div class="col-md-12" [hidden]="modoEdicao">
      <div class="perfil col-md-3">
        <img src="{{ infoPerfil.fotoPerfil }}" alt="">
        <span class="titulo col-md-12">{{ infoPerfil.nomeApresentacao }}</span> <br>
        <span class="sub col-md-12">{{ infoPerfil.bio ? infoPerfil.bio : 'Adicionar ofício'}}</span> <br>
        <span class="sub col-md-12"><span class="glyphicon glyphicon-map-marker" aria-hidden="true"></span>{{ infoPerfil.localizacao }}</span>
      </div>
      <div class="col-md-9 historia">
        <div class="col-md-12 nopadding">
          <p class="titulo apresentacao col-md-12">{{ infoPerfil.apresentacao ? infoPerfil.apresentacao : 'Adicionar citação'}}</p>
          <p class="titulo col-md-12">Minha história</p>
          <p class="col-md-12">{{ infoPerfil.historia ? infoPerfil.historia : 'Adicionar história' }}</p>
        </div>
        <div class="contatos nopadding">
          <p class="col-md-12 titulo">Meus contatos</p>
          <div class="col-md-6">Telefone: <span class="">{{ infoPerfil.telefone ? infoPerfil.telefone : 'Adicionar número de telefone'}}</span></div>
          <div class="col-md-6">Facebook: <span class="">{{ infoPerfil.urlFacebook ? infoPerfil.urlFacebook : 'Adicionar link de perfil no Facebook'}}</span></div>
          <div class="col-md-6">Email: <span class="">{{ infoPerfil.email ? infoPerfil.email : 'Adicionar endereço de email' }}</span></div>
          <div class="col-md-6">Instagram: <span class="">{{ infoPerfil.urlInstagram ? infoPerfil.urlInstagram : 'Adicionar link de perfil no Instagram'}}</span></div>
        </div>
      </div>
      <div class="edicao-saiba-mais">
        <button type="button" class="btn btn-default btn-sm btn-editar" (click)="editarPerfil()">
          <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span> Editar
        </button>
      </div>
    </div>
  
    <!-- modo de edição -->
    <div class="col-md-12" [hidden]="!modoEdicao">
      <div class="perfil col-md-3">
        <img src="{{ infoPerfil.fotoPerfil }}" alt="">
        <label *ngIf="uploader.queue.length == 0"  for="imagens" class="btn btn-sm btn-primary btn-enviar-foto-perfil">Escolher imagem</label>
        <input type="file" id="imagens" name="pic" accept="image/*" ng2FileSelect [uploader]="uploader" single>
        <div *ngIf="uploader.queue.length>0" class="send-picture" class="upload">
          <span class="filename">{{ uploader.queue[0].file.name }}</span>
          <button type="button" class="btn btn-default btn-xs" (click)="uploader.queue[0].remove()" [disabled]="!uploader.getNotUploadedItems().length">
            <span class="glyphicon glyphicon-trash"></span> Remover
          </button>
          <button type="button" class="btn btn-primary btn-xs btn-controll" (click)="uploader.uploadAll()" [disabled]="!uploader.getNotUploadedItems().length">
            <span class="glyphicon glyphicon-upload"></span> Enviar
          </button>
        </div>
        
        <!-- <table class="table" *ngIf="uploader.queue.length>0">
          <thead>
          <tr>
              <th width="70%">Imagem</th>
              <th></th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let item of uploader.queue; let i = index">
              <td><strong>{{ item.file.name }}</strong></td>
          </tr>
          <tr>
            <td nowrap>
              <button type="button" class="btn btn-default btn-xs"
                  (click)="item.remove()" [disabled]="!uploader.getNotUploadedItems().length">
              <span class="glyphicon glyphicon-trash"></span> Remover
              </button>
            </td>
            <td nowrap>
              <button type="button" class="btn btn-primary btn-xs btn-controll"
                (click)="uploader.uploadAll()" [disabled]="!uploader.getNotUploadedItems().length">
                <span class="glyphicon glyphicon-upload"></span> Enviar
              </button>
            </td>
          </tr>
          </tbody>
        </table> -->

        <input class="titulo col-md-11" type="text" maxlength="20" name="nomeApresentacao" [(ngModel)]="infoPerfil.nomeApresentacao" (keydown)="contadorCaracteresRestantes($event.target.name, 20)" (focusout)="contadores.nomeApresentacao = null">
        <app-contador-caracteres class="col-md-1" style="margin-top:5px;" contador="{{ contadores.nomeApresentacao }}"></app-contador-caracteres>
        <input class="sub col-md-11" type="text" maxlength="35" name="bio" placeholder="Ex.: Pintor(a), 5 anos de profissão" [(ngModel)]="infoPerfil.bio" (keydown)="contadorCaracteresRestantes($event.target.name, 35)" (focusout)="contadores.bio = null">
        <app-contador-caracteres class="col-md-1" style="margin-top: 3px;" contador="{{ contadores.bio }}"></app-contador-caracteres>
        <input class="sub col-md-11" type="text" maxlength="25" name="localizacao" [(ngModel)]="infoPerfil.localizacao" (keydown)="contadorCaracteresRestantes($event.target.name, 25)" (focusout)="contadores.localizacao = null">
        <app-contador-caracteres class="col-md-1" style="margin-top: 3px;" contador="{{ contadores.localizacao }}"></app-contador-caracteres>
      </div>
      <div class="col-md-9 historia">
        <div class="col-md-12 nopadding">
          <input class="titulo apresentacao col-md-11" type="text" maxlength="95" name="apresentacao" placeholder="Ex.: Ser pintor(a) é mais que uma profissão, é uma paixão que alimento todos os dias." [(ngModel)]="infoPerfil.apresentacao" (keydown)="contadorCaracteresRestantes($event.target.name, 95)" (focusout)="contadores.apresentacao = null">
          <app-contador-caracteres class="col-md-1" style="margin-top: 6px;" contador="{{ contadores.apresentacao }}"></app-contador-caracteres>
          <p class="titulo col-md-12">Minha história</p>
          <textarea class="col-md-11" maxlenght="500" name="historia" placeholder="Conte um pouco de sua história, como aprendeu sua técnica, seus interesses." [(ngModel)]="infoPerfil.historia" (keydown)="contadorCaracteresRestantes($event.target.name, 500)" (focusout)="contadores.historia = null"></textarea>
          <app-contador-caracteres class="col-md-1" contador="{{ contadores.historia }}"></app-contador-caracteres>
        </div>
        <div class="contatos nopadding">
          <p class="col-md-12 titulo">Meus contatos</p>
          <div class="col-md-5">Telefone: 
            <input type="text" [textMask]="{mask:telefoneMask}" [(ngModel)]="infoPerfil.telefone">
          </div>
          <div class="col-md-5">Facebook: 
            <input type="text" maxlength="35" name="urlFacebook" placeholder="Ex.: fb.com/nomedeusuario" [(ngModel)]="infoPerfil.urlFacebook" (keydown)="contadorCaracteresRestantes($event.target.name, 35)" (focusout)="contadores.urlFacebook = null">
            <app-contador-caracteres class="col-md-1" style="margin-top: 3px;" contador="{{ contadores.urlFacebook }}"></app-contador-caracteres>
          </div>
          <div class="col-md-5">Email: 
            <input type="text" maxlength="35" name="email" [(ngModel)]="infoPerfil.email" (keydown)="contadorCaracteresRestantes($event.target.name, 35)" (focusout)="contadores.email = null">
            <app-contador-caracteres class="col-md-1" style="padding-right: 40px;" contador="{{ contadores.email }}"></app-contador-caracteres>
          </div>
          <div class="col-md-5">Instagram: 
            <input type="text" maxlength="35" name="urlInstagram" placeholder="Ex.: instagram.com/nomedeusuario" [(ngModel)]="infoPerfil.urlInstagram" (keydown)="contadorCaracteresRestantes($event.target.name, 35)" (focusout)="contadores.urlInstagram = null">
            <app-contador-caracteres class="col-md-1" contador="{{ contadores.urlInstagram }}"></app-contador-caracteres>
          </div>
        </div>
      </div>
      <div class="edicao-saiba-mais">
        <div class="modo-edicao">
          <button type="button" class="btn btn-default btn-sm btn-cancelar" (click)="cancelarEdicao()">
              <span class="glyphicon glyphicon-remove" aria-hidden="true"></span> Cancelar
            </button>
          <button type="button" class="btn btn-primary btn-sm btn-salvar" (click)="atualizarDadosPerfil()">
            <span class="glyphicon glyphicon-ok" aria-hidden="true"></span> Salvar edições
          </button>
        </div>
      </div>
    </div>
  </div>
  <div class="sub-container processos-anchor">
    <div class="processos-criacao">
      <h1>Processos de criação</h1>
      <app-portfolio-processos-viewer parentDivClass="processos-anchor"></app-portfolio-processos-viewer>
    </div>
  </div>
</div>
<app-footer></app-footer>