.portfolio{
  margin: 40px 0;
}
.meus-produtos, .saiba-mais {
  margin-top: 30px;
  display: block;
}
.container h1 {
  font-family: 'Lobster 1.4';
  color: #d68728;
}
.sub-container {
  max-width: 100%;
  padding: 0 15px;
}
.saiba-mais {
  height: 370px;
}
.saiba-mais > .col-md-12 {
  background-color: #d68728;
  color: #fff;
  position: relative;
  height: 320px;
  padding: 0;
  margin-bottom: 40px;
  border-radius: 3px;
}
.saiba-mais .perfil {
  display: inline-block;
  width: 230px;
  height: 100%;
  background-color: rgb(91, 44, 22);
  border: 3px solid rgb(91, 44, 22);
  text-align: center;
  padding: 0;
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
}
.saiba-mais .perfil img {
  width: 100%;
  margin-bottom: 3px;
  border-radius: 3px;
}
.saiba-mais .perfil span.editavel {
  padding: 3px 5px;
  line-height: 30px;
  border-radius: 3px;
  outline: none;
}
.saiba-mais .titulo {
  font-weight: bold;
  font-size: 18px !important;
  margin: 5px 0 0;
}
.historia .col-md-6 input {
  width: 60%;
}
.historia .col-md-6 span, .historia .col-md-6 input {
  margin-left: 5px;
}
.saiba-mais .sub {
  margin: 5px 0 0;
}
.saiba-mais .historia {
  padding: 15px;
  height: 100%;
}
.saiba-mais .apresentacao {
  margin-bottom: 10px;
}
.saiba-mais .contatos {
  position: absolute;
  bottom: 15px;
}
.saiba-mais .historia p, .saiba-mais .historia span {
  font-size: 16px;
  border-radius: 3px;
  outline: none;
}
.saiba-mais:hover .btn-editar {
  opacity: 1;
  transition: opacity 0.25s;
}
.edicao-saiba-mais .btn-editar {
  position: absolute;
  bottom: 15px;
  right: 15px;
  z-index: 100;
  border: none;
  display: block;
  opacity: 0;
  transition: opacity 0.25s;
}
.modo-edicao {
  position: absolute;
  right: 0;
  bottom: -35px;
  opacity: 0;
}
input[type="text"], textarea {
  background-color: #6d361c;
  border: none;
  border-radius: 3px;
  outline: none;
}
.perfil .col-md-11, .perfil .col-md-1 {
  padding: 0;
}
.perfil input {
  text-align: center;
}
.perfil input[type="text"]::-webkit-input-placeholder {
  color: rgb(252, 180, 93);
}
.historia input[type="text"], .historia textarea {
  background-color: #e28f2b;
  resize: none;
}
.historia textarea {
  height: 130px;
}
.historia input[type="text"]::-webkit-input-placeholder, .historia textarea::-webkit-input-placeholder {
  color: rgb(109, 54, 28);
}
.nopadding {
  padding: 0;
}
.processos-criacao {
  margin-bottom: 30px;
}
app-navbar-cliente >>> .navbar {
  margin-bottom: 0;
}
app-produtos-perfil-artesao {
  display: flex;
  flex-flow: wrap;
  flex-direction: row;
  justify-content: space-between;
}
app-produtos-perfil-artesao >>> img {
  width: 100%;
}
app-produtos-perfil-artesao >>> .imagem {
  width: 280px;
  height: 280px;
  overflow: hidden;
}
app-produtos-perfil-artesao >>> .col-md-4{
  padding: 0px;
  width: 290px;
  margin: 0 0 15px 0;
}
input[type='file'] {
  display: none
}