<div class="col-md-4">
  <div class="thumbnail">
    <div class="imagem">
      <img src="./assets/images/components/produtos/{{produto.img}}" alt="Nature">
    </div>
    <div class="caption">
      <div class="row">
        <div class="col-md-12">
          <p>{{ produto.nome }}<br></p>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
            <a href="#"><h2>{{ produto.preco }}</h2></a>
        </div>
        <div class="col-md-6">
          <a href="#" class="btn btn-primary" role="button">Comprar</a>
        </div>
      </div>
    </div>
  </div>
</div>