<div class="col-md-4">
  <div class="thumbnail">
    <div (click)="goToProductPage(produto._id, produto.aid)" class="imagem">
      <img src="{{ serverBaseImageUrl }}/imagens-produtos/{{ produto.imagem[0] }}" alt="{{ produto.nome }}">
    <!--<div (click)="goToProductPage(produto._id)" class="imagem">
      <img src="{{ serverBaseImageUrl }}/imagens-produtos/{{ produto.img }}" alt="{{ produto.nome }}">-->
    </div>
    <div class="caption">
      <div class="row">
        <div class="col-md-12">
          <p class="nome">{{ produto.nome }}<br></p>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
            <a href="#"><h2> R$ {{ clientService.parsePrice(produto.preco) }}</h2></a>
        </div>
        <div class="col-md-6">
          <a (click)="addToCart(produto)" class="btn btn-primary" role="button" [class.added]="status == 'adicionado' ">{{ status }} <span class="glyphicon glyphicon-shopping-cart"></span></a>
        </div>
      </div>
    </div>
  </div>
</div>