img{
  width: 100%;
}
.imagem{
  width: 340px;
  height: 381px;
  overflow: hidden;
}
.col-md-4{
  padding: 0px;
  width: 350px;
  margin-left: 15px;
  margin-bottom: 15px;
}
.btn {
  float: right;
}

.btn.added {
  background: #1c9ba2;
  border-color: #177379;
}

p {
  text-decoration: none;
  color: #000;
  font-size: 18px;
}
h2{
  color: rgb(91, 44, 22);
  margin-top: 5px;
  margin-bottom: 5px;
  font-weight: bold;
}
.thumbnail{
  margin-bottom: 0px;
}

a:hover, a:focus {
  text-decoration: none;
}
.nome{
  min-height: 50px;
  max-height: 50px;
}