.container{
    position: relative;
    min-height: 75vh;
    margin-top: 20px;
}

.bottom-bar-container{
    position: absolute;
    display: flex;
    justify-content: center;
    bottom: 0px;
    left: 0px;
}
.pagination{
    position:absolute;
}
.pager{
    padding: 0;
    /*width: 100%;*/
}
.pagination > li > a:hover,
.pagination > li > span:hover{
  top: 0px;
  border-bottom-width: 4px;
}
.pagination > li > a:active,
.pagination > li > span:active{
  top: 0px;
  border-bottom-width: 4px;
}
.cadastro{
  margin-bottom: 60px !important;
}
