<div class="container">
  <form>
    <fieldset>
      <legend>Dados Pessoais</legend>
      <div class="form-group col-md-8">
        <label for="inputNome" class="control-label">Nome</label>
        <input type="text" class="form-control" id="inputNome" placeholder="Informe seu nome completo?">
      </div>

      <div class="form-group col-md-4">
        <label for="inputCpf" class="control-label">CPF</label>
        <input type="text" class="form-control" id="inputCpf" placeholder="Informe apenas os números CPF">
      </div>

      <div class="form-group col-md-4">
        <label for="inputData" class="control-label">Data de nascimento</label>
        <input type="date" class="form-control" id="inputData" placeholder="Informe quando você nasceu">
      </div>

      <div class="form-group col-md-8">
        <label for="inputNaturalidade" class="control-label">Naturalidade</label>
        <input type="text" class="form-control" id="inputNaturalidade" placeholder="Informe onde você nasceu">
      </div>

      <div class="form-group col-md-8">
        <label for="inputEmail" class="control-label">Email</label>
        <input type="email" class="form-control" id="inputEmail" placeholder="Informe o seu endereço de e-mail">
      </div>

      <div class="form-group col-md-4">
        <label for="inputTelefone" class="control-label">Telefone</label>
        <input type="tel" class="form-control" id="inputTelefone" placeholder="Informe o seu número de telefone">
      </div>

    </fieldset>

    <fieldset>
      <legend>Dados Profissionais</legend>
      <div class="form-group col-md-8">
        <label for="inputNomeComercial" class="control-label">Nome Comercial</label>
        <input type="text" class="form-control" id="inputNomeComercial" placeholder="Dê um nome para seu negocio">
      </div>

      <div class="form-group col-md-4">
        <label for="select" class="control-label">Categoria</label>
          <select class="form-control" id="select">
            <option>Informe a principal categoria de atuação</option>
            <option>1</option>
            <option>2</option>
            <option>3</option>
            <option>4</option>
            <option>5</option>
          </select>
      </div>

       <div class="form-group col-md-12">
        <label for="textArea" class="control-label">Descrição</label>
        <textarea class="form-control" rows="3" id="textArea"></textarea>
        <span class="help-block">Faça uma descrição simples para que os potenciais clientes conheçam a base de seu trabalho</span>
      </div>

      <div class="form-group col-md-4">
        <label for="inputSite" class="control-label">Página Web / Portifolio</label>
        <input type="url" class="form-control" id="inputSite" placeholder="Adicione um link para um site que esponha seu trabalho">
      </div>

      <div class="form-group">
        <label for="exampleInputFile">File input</label>
        <input type="file" id="exampleInputFile">
        <p class="help-block">Example block-level help text here.</p>
      </div>

    </fieldset>
        
  </form>
</div>