<app-header></app-header>
<app-navbar></app-navbar>
<div class="container" >
  <form class="cadastro">

    <fieldset *ngIf="pageCount == 0">
      <legend>Dados Pessoais</legend>
      <div class="form-group col-md-8" [class.has-error]="verificadores.nome == false">
        <label for="inputNome" class="control-label">Nome</label>
        <input type="text" class="form-control" id="inputNome" placeholder="Informe seu nome completo" name="nome" [(ngModel)]="novoUsuario.nome" (blur)="verificaNome()">
      </div>

      <div class="form-group col-md-4" [class.has-error]="verificadores.cpf == false">
        <label for="inputCpf" class="control-label">CPF</label>
        <input type="text" class="form-control" id="inputCpf" placeholder="Informe apenas os números do CPF" name="cpf" [(ngModel)]="novoUsuario.cpf" (blur)="verificaCPF()">
      </div>

      <div class="form-group col-md-4" [class.has-error]="verificadores.dataDeNascimento == false">
        <label for="inputData" class="control-label">Data de nascimento</label>
        <input type="text" class="form-control" id="inputData" placeholder="Exemplo: 01/01/1970" name="dataDeNascimento" [(ngModel)]="novoUsuario.dataDeNascimento" (blur)="verificaDataDeNascimento()">
      </div>

      <div class="form-group col-md-8" [class.has-error]="verificadores.naturalidade == false">
        <label for="inputNaturalidade" class="control-label">Naturalidade</label>
        <input type="text" class="form-control" id="inputNaturalidade" placeholder="Informe onde você nasceu" name="naturalidade" [(ngModel)]="novoUsuario.naturalidade" (blur)="verificaNaturalidade()">
      </div>

      <div class="form-group col-md-8" [class.has-error]="verificadores.email == false">
        <label for="inputEmail" class="control-label">Email</label>
        <input type="email" class="form-control" id="inputEmail" placeholder="Informe o seu endereço de e-mail" name="email" [(ngModel)]="novoUsuario.email" (blur)="verificaEmail()">
      </div>

      <div class="form-group col-md-4" [class.has-error]="verificadores.telefone == false">
        <label for="inputTelefone" class="control-label">Telefone</label>
        <input type="tel" class="form-control" id="inputTelefone" placeholder="Exemplo: (88)91234-5678" name="telefone" [(ngModel)]="novoUsuario.telefone" (blur)="verificaTelefone()">
      </div>

    </fieldset>

    <fieldset *ngIf="pageCount == 1" >
      <legend>Dados Profissionais</legend>
      <div class="form-group col-md-8" [class.has-error]="verificadores.nomeComercial == false">
        <label for="inputNomeComercial" class="control-label">Nome Comercial</label>
        <input type="text" class="form-control" id="inputNomeComercial" placeholder="Dê um nome para seu negócio" name="nomeComercial" [(ngModel)]="novoUsuario.nomeComercial" (blur)="verificaNomeComercial()">
      </div>

      <div class="form-group col-md-4" [class.has-error]="verificadores.categoria == false">
        <label for="select" class="control-label">Categoria</label>
          <select class="form-control" id="select" name="categoria" [(ngModel)]="novoUsuario.categoria" (blur)="verificaCategoria()">
            <option value="">Informe a principal categoria de atuação</option>
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5">5</option>
          </select>
      </div>

       <div class="form-group col-md-12" [class.has-error]="verificadores.descricao == false">
        <label for="textArea" class="control-label">Descrição</label>
        <textarea class="form-control" rows="3" id="textArea" placeholder="Faça uma descrição simples para que os potenciais clientes conheçam a base de seu trabalho" name="descricao" [(ngModel)]="novoUsuario.descricao" (blur)="verificaDescricao()"></textarea>
<!--         <span class="help-block">Faça uma descrição simples para que os potenciais clientes conheçam a base de seu trabalho</span> -->
      </div>

      <div class="form-group col-md-2" [class.has-error]="verificadores.cep == false">
        <label for="inputCep" class="control-label">CEP</label>
        <input type="text" class="form-control" id="inputCep" placeholder="Ex.: 12345-678" name="cep" [(ngModel)]="novoUsuario.cep" (blur)="verificaCep()">
      </div>

      <div class="form-group col-md-5" [class.has-error]="verificadores.rua == false">
        <label for="inputRua" class="control-label">Rua</label>
        <input type="text" class="form-control" id="inputRua" placeholder="Informe a rua do local onde trabalha" name="rua" [(ngModel)]="novoUsuario.rua" (blur)="verificaRua()">
      </div>

      <div class="form-group col-md-2" [class.has-error]="verificadores.numero == false">
        <label for="inputNumero" class="control-label">Número</label>
        <input type="texto" class="form-control" id="inputNumero" placeholder="Número" name="numero" [(ngModel)]="novoUsuario.numero" (blur)="verificaNumero()">
      </div>

      <div class="form-group col-md-3" [class.has-error]="verificadores.complemento == false">
        <label for="inputComplemento" class="control-label" [class.has-error]="verificadores.complemento == false">Complemento</label>
        <input type="text" class="form-control" id="inputComplemento" placeholder="Informe se há algum complemento" name="complemento" [(ngModel)]="novoUsuario.complemento" (blur)="verificaComplemento()">
      </div>

      <div class="form-group col-md-4" [class.has-error]="verificadores.bairro == false">
        <label for="inputBairro" class="control-label">Bairro</label>
        <input type="text" class="form-control" id="inputBairro" placeholder="Informe o bairro" name="bairro" [(ngModel)]="novoUsuario.bairro" (blur)="verificaBairro()">
      </div>

      <div class="form-group col-md-4" [class.has-error]="verificadores.cidade == false">
        <label for="inputCidade" class="control-label">Cidade</label>
        <input type="text" class="form-control" id="inputCidade" placeholder="Informe a cidade onde você atua" name="cidade" [(ngModel)]="novoUsuario.cidade" (blur)="verificaCidade()">
      </div>

      <div class="form-group col-md-4" [class.has-error]="verificadores.estado == false">
        <label for="inputEstado" class="control-label">Estado</label>
        <input type="text" class="form-control" id="inputEstado" placeholder="Informe o estado" name="estado" [(ngModel)]="novoUsuario.estado" (blur)="verificaEstado()">
      </div>

    </fieldset>

    <fieldset *ngIf="pageCount == 2" >
      <legend>Dados Bancários</legend>
      
      <div class="form-group col-md-4" [class.has-error]="verificadores.numeroCartao == false">
        <label for="inputCard" class="control-label">Número do Cartão</label>
        <input type="texto" class="form-control" id="inputCard" placeholder="Informe somente os números, sem espaços" name="numeroCartao" [(ngModel)]="novoUsuario.numeroCartao" (blur)="verificaNumeroCartao()">
      </div>

      <div class="form-group col-md-2" [class.has-error]="verificadores.vencimentoCartao == false">
        <label for="inputVencimento" class="control-label">Vencimento</label>
        <input type="text" class="form-control" id="inputVencimento" placeholder="Ex.: mês/ano" name="vencimentoCartao" [(ngModel)]="novoUsuario.vencimentoCartao" (blur)="verificaVencimentoCartao()">
      </div>

      <div class="form-group col-md-4" [class.has-error]="verificadores.titularCartao == false">
        <label for="inputTitular" class="control-label">Titular</label>
        <input type="text" class="form-control" id="inputTitular" placeholder="Informe o nome do titular como no cartão" name="titularCartao" [(ngModel)]="novoUsuario.titularCartao" (blur)="verificaTitularCartao()">
      </div>

    </fieldset>

    <fieldset *ngIf="pageCount == 3" >
      <legend>Dados de Perfil</legend>
      
      <!--<div class="form-group col-md-12">
        <label for="InputFile">Procurar Arquivo</label>
        <input type="file" id="InputFile">
        <p class="help-block">Busque uma foto onde você seja facilmente reconhecido</p>
      </div>-->

      <div class="form-group col-md-12" [class.has-error]="verificadores.nomeDeUsuario == false">
        <label for="inputUser" class="control-label">Nome de usuário</label>
        <input type="text" class="form-control" id="inputUser" placeholder="Insira um nome de usuário para usar na plataforma" maxlength="12" name="nomeDeUsuario" [(ngModel)]="novoUsuario.nomeDeUsuario" (blur)="verificaNomeDeUsuario()">
      </div>

       <div class="form-group col-md-6" [class.has-error]="verificadores.senha == false || verificadores.confirmacaoSenha == false">
        <label for="inputSenha" class="control-label">Senha</label>
        <input type="password" class="form-control" id="inputSenha" placeholder="Insira uma senha com no mínimo 8 dígitos" maxlength="20" name="senha" [(ngModel)]="novoUsuario.senha" (blur)="verificaSenha()">
      </div>

      <div class="form-group col-md-6" [class.has-error]="verificadores.confirmacaoSenha == false || verificadores.senha == false">
        <label for="inputConfirma" class="control-label">Confirmação de Senha</label>
        <input type="password" class="form-control" id="inputConfirma" placeholder="Repita a senha" maxlength="20" name="confirmacaoSenha" [(ngModel)]="confirmacaoSenha" (blur)="verificaConfirmacaoSenha()">
      </div>

      <div class="form-group col-md-12" [class.has-error]="verificadores.linkPaginaWeb == false">
        <label for="inputSite" class="control-label">Página Web / Portfólio</label>
        <input type="url" class="form-control" id="inputSite" placeholder="Adicione um link para um site onde exponha seu trabalho" name="linkPaginaWeb" [(ngModel)]="novoUsuario.linkPaginaWeb" (blur)="verificaLinkPaginaWeb()">
      </div>

    </fieldset>

        
  </form>
  <!-- <app-bottom-bar (page)="capturar($event)"></app-bottom-bar> -->
  <div class="col-md-12 bottom-bar-container">
    <ul class="pagination">
      <!--<li class="disabled"><a href="#">&laquo;</a></li>-->
      <li [class.active]="pageCount == 0"><a>1</a></li>
      <li [class.active]="pageCount == 1"><a>2</a></li>
      <li [class.active]="pageCount == 2"><a>3</a></li>
      <li [class.active]="pageCount == 3"><a>4</a></li>
      <!--<li><a href="#">&raquo;</a></li>-->
    </ul>

    <ul class="pager pager-primary col-md-12">
      <li class="previous" *ngIf="pageCount != 0"><a (click)="previous()" routerLink="/ " href="">&larr; voltar</a></li>
      <li class="next" *ngIf="pageCount != 3" [class.disabled]="!formularioOk()"><a (click)="next()"  routerLink="/ " href="">Avançar &rarr;</a></li>
      <li class="next" *ngIf="pageCount == 3" [class.disabled]="!formularioOk()"><a (click)="cadastrar()"  routerLink="/ " href="">Concluir &rarr;</a></li>
    </ul>
  </div>
</div>