<div class="container" >
  <form class="">
    <fieldset *ngIf="show == 0">
      <legend>Dados Pessoais</legend>
      <div class="form-group col-md-8">
        <label for="inputNome" class="control-label">Nome</label>
        <input type="text" class="form-control" id="inputNome" placeholder="Informe seu nome completo?">
      </div>

      <div class="form-group col-md-4">
        <label for="inputCpf" class="control-label">CPF</label>
        <input type="text" class="form-control" id="inputCpf" placeholder="Informe apenas os números CPF">
      </div>

      <div class="form-group col-md-4">
        <label for="inputData" class="control-label">Data de nascimento</label>
        <input type="date" class="form-control" id="inputData" placeholder="Informe quando você nasceu">
      </div>

      <div class="form-group col-md-8">
        <label for="inputNaturalidade" class="control-label">Naturalidade</label>
        <input type="text" class="form-control" id="inputNaturalidade" placeholder="Informe onde você nasceu">
      </div>

      <div class="form-group col-md-8">
        <label for="inputEmail" class="control-label">Email</label>
        <input type="email" class="form-control" id="inputEmail" placeholder="Informe o seu endereço de e-mail">
      </div>

      <div class="form-group col-md-4">
        <label for="inputTelefone" class="control-label">Telefone</label>
        <input type="tel" class="form-control" id="inputTelefone" placeholder="Informe o seu número de telefone">
      </div>

    </fieldset>

    <fieldset *ngIf="show == 1" >
      <legend>Dados Profissionais</legend>
      <div class="form-group col-md-8">
        <label for="inputNomeComercial" class="control-label">Nome Comercial</label>
        <input type="text" class="form-control" id="inputNomeComercial" placeholder="Dê um nome para seu negocio">
      </div>

      <div class="form-group col-md-4">
        <label for="select" class="control-label">Categoria</label>
          <select class="form-control" id="select">
            <option>Informe a principal categoria de atuação</option>
            <option>1</option>
            <option>2</option>
            <option>3</option>
            <option>4</option>
            <option>5</option>
          </select>
      </div>

       <div class="form-group col-md-12">
        <label for="textArea" class="control-label">Descrição</label>
        <textarea class="form-control" rows="3" id="textArea"></textarea>
        <span class="help-block">Faça uma descrição simples para que os potenciais clientes conheçam a base de seu trabalho</span>
      </div>

      <div class="form-group col-md-2">
        <label for="inputCep" class="control-label">CEP</label>
        <input type="number" class="form-control" id="inputCep" placeholder="Informe o cep de sua rua/cidade">
      </div>

      <div class="form-group col-md-5">
        <label for="inputRua" class="control-label">Rua</label>
        <input type="text" class="form-control" id="inputRua" placeholder="Informe a rua do enderço onde trabalha">
      </div>

      <div class="form-group col-md-3">
        <label for="inputComplemento" class="control-label">Complemento</label>
        <input type="text" class="form-control" id="inputComplemento" placeholder="Informe se há algum complemento">
      </div>

      <div class="form-group col-md-2">
        <label for="inputNumero" class="control-label">Número</label>
        <input type="number" class="form-control" id="inputNumero" placeholder="Número">
      </div>

      <div class="form-group col-md-4">
        <label for="inputBairro" class="control-label">Bairro</label>
        <input type="text" class="form-control" id="inputBairro" placeholder="Informe o bairro">
      </div>

      <div class="form-group col-md-4">
        <label for="inputCidade" class="control-label">Cidade</label>
        <input type="text"
         class="form-control" id="inputCidade" placeholder="Informe a cidade onde você atua">
      </div>

      <div class="form-group col-md-4">
        <label for="inputEstado" class="control-label">Estado</label>
        <input type="text" class="form-control" id="inputEstado" placeholder="Informe o estado">
      </div>

    </fieldset>

    <fieldset *ngIf="show == 2" >
      <legend>Dados Bancarios</legend>
      
      <div class="form-group col-md-4">
        <label for="inputCard" class="control-label">Cartão</label>
        <input type="number" class="form-control" id="inputCard" placeholder="Adicione o número do seu cartão">
      </div>

      <div class="form-group col-md-2">
        <label for="inputVencimento" class="control-label">Vencimento</label>
        <input type="date" class="form-control" id="inputVencimento" placeholder="Informe a data de vencimento do cartão">
      </div>

      <div class="form-group col-md-4">
        <label for="inputTitular" class="control-label">Titular</label>
        <input type="text" class="form-control" id="inputTitular" placeholder="Informe o nome do titular como no cartão">
      </div>

    </fieldset>

    <fieldset *ngIf="show == 3" >
      <legend>Dados de Perfil</legend>
      
      <!--<div class="form-group col-md-12">
       
        <label for="InputFile">Procurar Arquivo</label>
        <input type="file" id="InputFile">
        <p class="help-block">Busque uma foto onde você seja facilmente reconhecido</p>
      </div>-->

      <div class="form-group col-md-12">
        <label for="inputUser" class="control-label">Usuário</label>
        <input type="text" class="form-control" id="inputUser" placeholder="Adicione um nome de usuario para usar na plataforma">
      </div>

       <div class="form-group col-md-6">
        <label for="inputSenha" class="control-label">Senha</label>
        <input type="password" class="form-control" id="inputSenha" placeholder="Adicione uma senha com no mínimo 8 digitos">
      </div>
      <div class="form-group col-md-6">
        <label for="inputConfirma" class="control-label">Confirmação de Senha</label>
        <input type="password" class="form-control" id="inputConfirma" placeholder="Insira novamente a senha">
      </div>

      <div class="form-group col-md-12">
        <label for="inputSite" class="control-label">Página Web / Portifolio</label>
        <input type="url" class="form-control" id="inputSite" placeholder="Adicione um link para um site que exponha seu trabalho">
      </div>


    </fieldset>

        
  </form>
  <app-bottom-bar (page)="capturar($event)"></app-bottom-bar>
</div>