<header class="header">
  <div class="container">
    <!--<div class="row">-->
      <div class="col-md-3">
        <div class="page-header">
          <a routerLink="/inicio" href="#">
            <h1>Quixique</h1>
          </a>
        </div>
      </div>
      <div class="col-md-6">
        <!--<div class="form-group">-->
          <div class="input-group">
            <!--<span class="input-group-addon">$</span>-->
            <input type="text" class="form-control" placeholder="O que deseja encontrar ?">
            <span class="input-group-btn">
                <button class="btn btn-default" type="button"><span class="glyphicon glyphicon-search" aria-hidden="true"></span></button>
            </span>
          </div>
        <!--</div>-->
      </div>
      <div class="col-md-3">
        <small>
            <ul class="nav navbar-nav navbar-right">
                <li>
                    <div class="btn-group btn-entrar-dropdown">
                        <button class="btn btn-default btn-md dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Entrar <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu">
                            <form class="" >
                                <li>
                                    <div class="input-group input" [class.has-error]="loginData.email.state === false">
                                        <input type="text" class="form-control" placeholder="Email" name="emailInput" [(ngModel)]="loginData.email.value" aria-describedby="basic-addon1">
                                        <app-mensagem-erro-input *ngIf="loginData.email.state === false" mensagemDeErro="{{loginData.email.message}}"></app-mensagem-erro-input>
                                    </div>
                                </li>
                                <li>
                                    <div class="input-group input" [class.has-error]="loginData.password.state === false">
                                        <input type="password" class="form-control" placeholder="Senha" name="passwordInput" [(ngModel)]="loginData.password.value" aria-describedby="basic-addon1">
                                        <app-mensagem-erro-input *ngIf="loginData.password.state === false" mensagemDeErro="{{loginData.password.message}}"></app-mensagem-erro-input>
                                    </div>
                                </li>
                                <li>
                                    <div class="btn">
                                        <button type="submit" name="button" class="btn btn-primary btn-entrar" [class.disabled]="loading" (click)="login(); $event.stopPropagation()">
                                        <span *ngIf="loading" class="glyphicon glyphicon-repeat button-loading-icon" aria-hidden="true"></span>
                                        {{ loginButtonText }}
                                        </button>
                                    </div>
                                </li>
                            </form>
                        </ul>
                    </div>
                </li>
                <li>
                    <div class="btn-group btn-cadastro">
                        <button class="btn btn-primary btn-md dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Cadastre-se <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu">
                            <li><a (click)="cadastrarCliente()" routerLink="/cadastro">Cadastre-se como cliente</a></li>
                            <li role="separator" class="divider"></li>
                            <li><a (click)="cadastrarArtesao()" routerLink="/cadastro">Cadastre-se como artesão</a></li>
                        </ul>
                    </div>
                </li>
            </ul>
        </small>
      </div>
    <!--</div>-->
  </div>
</header>