.input{
  border-radius: 5px;
  margin: 10px;
  min-width: 200px;

}
input:focus{
  box-shadow: 0px 0px 0px;
}
.btn-entrar{
  min-width: 200px;
}
.dropdown-menu{
  /*padding: 10px;*/
  min-width: 200px;
}
.btn-cadastro{
  margin-top: 10px;
}
.btn-entrar-dropdown{
  margin: 5px;
  margin-top: 10px;
}
app-mensagem-erro-input{
  position: absolute;
  left: 0;
  z-index: 10;
  width: 100%;
  top: 35px;
}


.navbar-start{
  /*background-color: rgb(124, 57, 0);*/
  background-color: #7B3B1A;
  width: 100%;
  margin-left: 0px;
  border-bottom: solid 4px #462710;
  opacity: 0.0;
  z-index: 100;
  transition: 0.3s;
  top: 0;
  position:fixed;
}

.navbar-start.show {
    opacity: 1.0;
}

.navbar-start.hide{
  display: none;
}

.navbar-start.static{
  display: block !important;
  position: static !important;
  opacity: 1.0 !important;
}

.container{
  display: flex;
  align-items: center;
}

.page-header{
  margin: 0px;
  border-bottom: 0px;
}
.h1, h1, .navbar-brand{
  /*font-family: 'Love Ya Like A Sister';*/
  font-family: 'Lobster 1.4';  
  color: white;
}
.btn-group > .btn:first-child{
  margin-left: 10px;
}

.btn-default:hover, .btn-default:focus, .btn-group.open .dropdown-toggle.btn-default, .btn-default{
  background-color: #b25526;
  border-color: #5d3311;
  color: #fff;
}

.btn-default:active:hover, .btn-default.active:hover,
.open > .dropdown-toggle.btn-default:hover,
.btn-default:active:focus, .btn-default.active:focus,
.open > .dropdown-toggle.btn-default:focus,
.btn-default:active.focus, .btn-default.active.focus,
.open > .dropdown-toggle.btn-default.focus {
  background-color: #b25526;
  border-color: #5d3311;
  color: #fff;
}

.dropdown-menu {
    margin-top: 20px;
}