<app-header></app-header>
<app-navbar></app-navbar>
<div class="container container-principal">
  <div class="row guias-container">
    <div class="col-md-8">
      <div class="btn-group btn-group-justified" role="group" aria-label="...">
        <div class="btn-group" role="group">
          <button type="button" class="btn btn-default btn-select">Encomendas</button>
        </div>
        <div class="btn-group" role="group">
          <button type="button" class="btn btn-default">Em produção</button>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="controle-container">
        <ul>
          <li>
            <span class="grade" (click)='mudarVisualizacao()'><div class="glyphicon glyphicon-th-large"></div></span>
          </li>
          <!-- <li>
            <span class="lista"><div class="glyphicon glyphicon-th-list"></div></span>
          </li> -->
          <li>
            <span class="options"><div class=" glyphicon glyphicon-option-vertical"></div></span>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <app-card-pedido-grande></app-card-pedido-grande>
  <app-card-pedido-pequeno></app-card-pedido-pequeno>
</div>
