/*.navbar{
  position: fixed;
}*/

.affix{
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 101;
}

/*.dropdown-menu{
    margin-top: 15px;
}*/


.navbar{
  background-color: #5d3311;
  border-width: 0px 0px 4px 0px;
  border-radius: 0px;
  border-bottom: #462710 4px solid;
  box-sizing: border-box;
  height: 60px;
  max-height: 60px;
}

.container{
  height: 100%;
}

/*.dm-right{
    margin-top: 10px;
    left: auto;
    right: 0;
}
.row{
  display: flex;
  align-items: center;
  height: 100%;
}
.pessoa{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  float: right;
}
.foto{
  width: 40px;
  border-radius: 50%;
}
.nomePessoa{
  margin-left: 1rem;
  font-size: 1.5rem;
  color: #fff;
  cursor: pointer;
}*/

.barra{
  align-self: baseline;
}

ul.menu-barra{
  display: inline-flex;
  position: relative;
  list-style-type: none;
  text-decoration: none;
  padding-left: 0px;
  margin: 0;
  max-height: 60px;
  width: 100%;
}

.menu-barra > li{
  /*background: red;*/
}

.menu-barra > li:first-child{
  max-width: 12vw;
}

.menu-barra > li:first-child:hover{
  max-width: initial;
}

.menu-barra > li > a{
  display: flex;
  align-items: center;
  color: #fff;
  height: 60px;
  padding: 0 3vmin;
  transition: 0.3s;
}
.navbar ul li.active {
  background-color: #462710;
  font-weight: bold;
}
a {
  cursor: pointer;
}

.menu-barra > li:first-child > a{
  padding-left: 0;
  padding-right: 6vmin;
}

.menu-barra > li:last-child:hover > a{
  background: transparent;
  color:#f7921e;
}

.menu-barra > li:hover > a{ 
  text-decoration: none;
  background: #f7921e;
  font-weight: bolder;
  justify-content: center;
  padding: 0 3vmin;
  margin: 0 auto;
}

.menu-barra > li > a:hover + #menu-dropdown, #menu-dropdown:hover{
  max-height: 100vh;
  border: solid #e7e7e7;
  border-width: 0px 1px 4px 1px;
}

.menu-barra > li > a > span{
  margin-right: 0.8rem;
}

.menu-barra > li > a > span:first-child, .menu-barra > li > a > span:nth-child(2){
  font-size: 2rem;
  text-decoration: none;
  
}

.menu-barra > li:last-child > a{
  padding-right: 0;
}

.menu-barra > li > a > span:last-child{
  font-size: 2rem;
}

.menu-barra > li > a > span.caret{
  margin-right: 0;
}



#menu-dropdown{
  list-style-type: none;
  text-decoration: none;
  align-self: flex-start;
  padding-left: 0px;
  display: inline-flex;
  flex-direction: column;
  z-index: 100;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.5s;  
  border-radius: 0 0 4px 4px;
  white-space: nowrap;
  background: #fff;
  position: relative;
}

#menu-dropdown:hover{
  overflow: visible;
  border-radius: 0 0 0 4px;
}

#menu-dropdown > li > a{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 40px;
  padding: 0 8vmin;
  color: #999999;
}

#menu-dropdown > li > a:hover{
  color:#f7921e;
  text-decoration: none;
  transform: scale(1.1);
}

#menu-dropdown > li > a:hover + .preview{
  display: block;
}

#menu-dropdown > li:hover:not(#category){
  box-shadow: 4px 0 0 #f7921e;
  /*border-right: solid 4px #f7921e;*/
}


.preview{
  width:auto;
  height: 100%;
  background: #fff;
  position: absolute;
  left: 100%;
  top: 0;
  display: none;
  z-index: -1;
  border: solid #e7e7e7;
  border-width: 0 1px;
  box-shadow: 0 4px 0 #e7e7e7;
  border-radius: 0 0 4px 0;
}

.preview > .container-object-fit{
  width: 58vw;
  height: 70%;
  margin: 10px;
}

.preview > p {
  margin: 10px;
  max-width: 58vw;
  font-size: 2rem;
  white-space: normal;
}

.navbar-form{
  display: flex;
  align-items: center;
  width: 100%;
}

.form-control{
  flex-grow: 0.4;
  /*width: 60%;*/
  /*margin-left: 2vw;*/
}

.input-group-btn{
  display: inline;
  /*margin-right: auto;  */
}

.carrinho{
  padding: 15px;
}

.badge{
  background: #1c9ba2;
}

.list-group{
  max-height: 40vh;
  overflow-x: hidden; 
  overflow-y: auto;
}

.list-group-item{
  width: 20vw;
}

/*
#menu-dropdown li:first-child a{
  min-height: 60px;
  background: transparent;
  color: #fff;
}

#menu-dropdown li:first-child a:hover{
  font-weight: bolder;
  text-decoration: none;
  background: #f7921e;
}*/