<nav class="navbar navbar-default" data-spy="affix" data-offset-top="80">
  <div class="container">
    <div class="row">
      <div class="col-md-10 barra">
        <!--<div class="menu">
          <ul >
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><span class="glyphicon glyphicon-menu-hamburger"></span> CATEGORIAS <span class="caret"></span></a>
              <ul class="dropdown-menu categorias">
                <li role="separator" class="divider"></li>
                <li *ngFor="let category of categories" ><a href="#">{{ category.nome }}</a></li>
              </ul>
            </li>
            <li><a>timeline</a></li>
            <li><a>link</a></li>
          </ul>
      </div>-->
      <ul class="menu-barra">
        <li>
          <a id="category" href=""><span class="glyphicon glyphicon-menu-hamburger"></span> <span> CATEGORIAS </span><span class="caret"></span></a>
          <ul id="menu-dropdown">
            <!--<li id="category"><a href="">CATEGORIAS</a> </li>-->
            <li *ngFor="let category of categories">
              <a> {{ category.nome }}  </a>
              <div class="preview">
                <div class="container-object-fit">
                  <img class="item-object-fit" src="../../../assets/images/components/categorie-thumbnail/{{category.src}}" alt="{{category.nome}}">
                </div>
                <p>{{ category.descricao }}</p>
              </div>
            </li>
          </ul>
        </li>
        <li> <a href="">timeline</a> </li>
        <li> <a href="">perfil</a></li>
        <li> <a href="">qualquer coisa</a> </li>
      </ul>
    </div>
    <div class="col-md-2">
        <div class="pessoa">
          <img class="foto" src="https://www.workplaceleadership.com.au/app/themes/cwl/assets/img/regular_res/default-user.png" alt="">
          <div class="nomePessoa dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            {{ userName }} <span class="caret"></span>
          </div>
          <ul class="dropdown-menu dm-right">
            <li><a>Editar Perfil</a></li>
            <li role="separator" class="divider"></li>
            <li><a (click)="logout()">Sair</a></li>
          </ul>
        </div>
      </div>
    <!--<div class="col-md-2">
      <div class="icones">
        <div class="mensagens">
          <div class="glyphicon glyphicon-comment"></div>
        </div>
      </div>
    </div>-->
  </div>
  </div>
</nav>
