<footer class="local">
  <div class="container">
    <div class="row">
      <div class="container">
        <div class="col-md-5">
          <h1>Queremos você sempre conosco</h1>
        </div>
      </div>
    </div>
    <div class="col-md-5">
      <div id="map"></div>
    </div>
    <div class="info col-md-6">
      <div class="more">
        <h2>
          Saiba Mais
        </h2>
        <h4>
          <a> Como comprar </a>
        </h4>
        <h4>
          <a> Quero abrir minha loja </a>
        </h4>
        <h4>
          <a> Pagamento seguro </a>
        </h4>
        <h4>
          <a> Política de Privacidade </a>
        </h4>
      </div>
      <div class="endereco">
        <h4>Associação dos Artesãos de Quixadá</h4>
        <h4>CNPJ 05.845.791/0001-74 - R. Pres. Vargas, 2320</h4>
        <h4>Centro, Quixadá - CE, CEP 63900-000</h4>
      </div>
    </div>
    <div class="social col-md-1">
      <div class="row"><a href="https://www.facebook.com" target="_blank"><img src="..\..\assets\images\footer\facebook-logo.svg" alt=""></a></div>
      <div class="row"><a href="https://www.instagram.com" target="_blank"><img src="..\..\assets\images\footer\instagram-photo-camera-symbol.svg" alt=""></a></div>
      <div class="row"><a href="https://br.pinterest.com" target="_blank"><img src="..\..\assets\images\footer\pinterest-circular-logo-symbol.svg" alt=""></a></div>
      <div class="row"><a href="https://twitter.com" target="_blank"><img src="..\..\assets\images\footer\twitter-black-shape.svg" alt=""></a></div>
    </div>
  </div>
</footer>
<footer class="newsletter">
  <div class="container">
    <div class="col-md-6">
      <div class="row">
        <div class="col-md-10">
            <h2>Receba novidades no seu email</h2>
        </div>
      </div>
      <div class="row">
        <form action="/action_page.php" class="col-md-10">
          <div class="input-group">
              <!--<span class="input-group-addon">$</span>-->
              <input type="email" id="inputEmail" class="form-control" placeholder="mariascarlet@exemplo.com.br">
              <span class="input-group-btn">
                  <button class="btn btn-primary" type="button">Assinar</button>
              </span>
          </div>
          <div class="col-md-1"></div>
        </form>
      </div>
    </div>
    <div class="col-md-6">
      <div class="row">
        <div class="col-md-12">
            <h2>parcelamos em <strong>até 12x</strong> nos crtões:</h2>
        </div>
      </div>
      <div class="col-md-12">
        <img class="card" src="..\..\assets\images\footer\bandeiras_cartoes.png" alt="">
      </div>   
    </div>
  </div>
</footer>
<div class="line"></div>