<footer>
  <div id="mapa">
    <div class="container">
      <div class="col-md-9">
        <h1>Queremos você sempre conosco</h1>
        <div class="row">
          <div class="col-md-6">
            <div id="map"></div>
          </div>
          <div class="col-md-6">
            <h2>
              Saiba Mais
            </h2>
            <h4>
              Como comprar
            </h4>
            <h4>
              Quero abrir minha loja
            </h4>
            <h4>
              Pagamento seguro
            </h4>
            <h4>
              Política de Privacidade
            </h4>
            <ul>
              <li>
                <p>Associação artesãos de Quixadá</p>
              </li>
              <li>
                <p>CNPJ 05.845.791/0001-74 - R.Pres. Vargas, 2320</p>
              </li>
              <li>
                <p>Centro, Quixadá - CE 63900-000</p>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="col-md-3">
      <div class="row">
      <div class="col-md-12"><img src="../../../assets/images/temp/F.png" alt="" /></div>
      </div>
      <div class="row">
      <div class="col-md-12"><img src="../../../assets/images/temp/F.png" alt="" /></div>
      </div>
      <div class="row">
      <div class="col-md-12"><img src="../../../assets/images/temp/F.png" alt="" /></div>
      </div>
      <div class="row">
      <div class="col-md-12"><img src="../../../assets/images/temp/F.png" alt="" /></div>
      </div>
      </div>
    </div>
  </div>

  <div id="cartao">
    <div class="container">
      <div class="col-md-6">
        <div class="row">
          <div class="col-md-12">
          <h1>Receba novidades no seu email</h1>
          </div>
        </div>
        <div class="row">
          <form action="/action_page.php">
            <div class="col-md-9">
              <input type="text" name="name" placeholder="mariascarlet@exemplo.com.br" id="email">
            </div>
            <div class="col-md-2">
              <input type="submit" value="Assinar" id="assinar">
            </div>
          </form>
          <div class="col-md-1"></div>
        </div>
      </div>

      <div class="col-md-6">
        <div class="row">
          <div class="col-md-12" id="mp">
            <h1>Meios de pagamento</h1>
          </div>
        </div>
        <div class="row" id="cartoes">
          <div class="col-md-12">
            <div class="row">
              <div class="col-md-2"><img src="../../../assets/images/temp/Visa.jpg" alt="" /></div>

              <div class="col-md-2"><img src="../../../assets/images/temp/mastercard.jpg" alt="" /></div>

              <div class="col-md-2"><img src="../../../assets/images/temp/logo hipercard.jpg" alt="" /></div>

              <div class="col-md-2"><img src="../../../assets/images/temp/dinersclub.png" alt="" /></div>

              <div class="col-md-2"><img src="../../../assets/images/temp/american.jpg" alt="" /></div>

              <div class="col-md-2"><img src="../../../assets/images/temp/elo.jpg" alt="" /></div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <p>Parcelamentos em até 12x nos cartões de crédito</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>
