<div>
  
  <div>
    <div class="row">
      <div *ngFor="let pedido of pedidosService.pedidos" class="col-md-4">

        <div class="card">
          <div class="img">
            <div class="degrade"></div>
            <img src="http://localhost:3000/imagens-produtos/{{ pedido.produto_id.imagem[0] }}" alt="">            
            <div class="titulo">
              <h3>
                {{ pedido.produto_id.nome }}
              </h3>
            </div>
          </div>

          <div class="card-header">
            <div class="row">
              <div class="col-md-12">
                <div class="foto-ecomendante">
                  <img src="https://68.media.tumblr.com/avatar_372ef1273827_128.png" alt="">
                  <!--<img src="http://localhost:3000/assets/imagens-produtos/{{ pedido.produto_id.imagem[0] }}" alt="">-->
                </div>
                <h4 class="nome-encomendante">{{ pedido.cliente_id.nome }}</h4>
                <!--<ul class="classificacao">
                  <li><div class="glyphicon glyphicon-star"></div></li>
                  <li><div class="glyphicon glyphicon-star"></div></li>
                  <li><div class="glyphicon glyphicon-star"></div></li>
                  <li><div class="glyphicon glyphicon-star-empty"></div></li>
                  <li><div class="glyphicon glyphicon-star-empty"></div></li>
                </ul>-->
              </div>
              <div class="col-md-6">
                <div class="tempo-restante">
                  <!--<span class="glyphicon glyphicon-time"></span>-->
                  <!--<h4 class="tempo">Expira em:</h4>-->
                  <!--<h4 class="tempo-dias">{{ pedido.dataExpiracao }}</h4>-->
                </div>
              </div>
            </div>
          </div>
          <div class="card-body">
            <!--<p class="card-text">
              {{ pedido.mensagem }}
            </p>-->
            <div class="row">
              <div class="unidades">
                
                <div class="col-md-12">
                  <b>
                  Quantidade:
                  </b>
                  {{ pedido.qtd }} <span *ngIf="pedido.qtd>1">unidades</span><span *ngIf="pedido.qtd==1">unidade</span>
                </div>
                <!--<div class="col-md-6">
                </div>-->
                
              </div>
            </div>

            <div class="row">
              <div class="destino">
                
                <div class="col-md-12">
                  <b>
                  Destino:
                  </b>
                  {{ pedido.destino }}
                </div>
                <!--<h5 class="col-md-6">
                </h5>-->

              </div>
            </div>

            <div class="row">
              <div class="destino">

                  <div class="col-md-12">
                    <b>
                    Método de pagamento:
                    </b>
                    Cartão de crédito
                  </div>
                  <!--<div class="col-md-6">
                  </div>-->

              </div>
            </div>
            
            <div class="row">
              <div class="valor-total">

                  <div class="col-md-12">
                    Valor do pedido:
                    R$ {{ pedido.valor * pedido.qtd }}
                  </div>
                  <!--<div class="col-md-6">
                  </div>-->

              </div>
            </div>

          </div>
          <div class="row">
            <div class="col-md-12">
              <div class="botoes">
                <!--<button class="btn btn-default" (click)="recusarPedido(pedido)">Recusar</button>-->
                <button class="btn btn-default" (click)="abrirModalRecusar()">Recusar</button>
                <button class="btn btn-primary" (click)="confirmarPedido(pedido)">Confirmar</button>
              </div>
            </div>

              <div class="modal" [class.show]="abrirModalRec">
                <div class="modal-dialog">
                  <div class="modal-content">
                    <div class="modal-header">
                      <div class="sucess">
                        <h3>
                          Recusar pedido!
                        </h3>
                      </div>
                    </div>
                    <div class="modal-body">
                      <div class="row">
                        <div class="col-md-12">
                          <h4>
                              Tem certeza que deseja recusar este pedido? Esta ação é irreversível!
                          </h4>
                        </div>
                      </div>
                    </div>
                    <div class="modal-footer">
                      <button class="btn btn-default" (click)="recusarPedido(pedido); fecharModalRecusar()">Recusar</button>
                      <button class="btn btn-primary" (click)="fecharModalRecusar()">Não recusar</button>
                    </div>
                  </div>
                </div>
              </div>

          </div>
        </div>

      </div>
      <div class="col-md-4"></div>
      <div class="col-md-4"></div>
    </div>
  </div>

</div>

<div class="modal" [class.show]="abrirModal">
    <div class="modal-dialog">
      <div class="modal-content">
        <!--<button type="button" class="close" (click)="linhaClicada()" data-dismiss="modal" aria-hidden="true">&times;</button>-->
        <div class="modal-header">
          <div class="sucess">
            <h3>
              Estoque insuficiente!
            </h3>
          </div>
        </div>
        <div class="modal-body">
          <div class="row">
            <div class="col-md-12">
              <h4>
                  Você não possui estoque suficiente desta peça para aceitar este pedido, atualize o estoque caso deseje aceitá-lo
              </h4>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button class="btn btn-default" (click)="fecharModal()">Fechar</button>
        </div>
      </div>
    </div>
  </div>


<!--<div class="modal" [class.show]="abrirModalRec">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <div class="sucess">
            <h3>
              Recusar pedido!
            </h3>
          </div>
        </div>
        <div class="modal-body">
          <div class="row">
            <div class="col-md-12">
              <h4>
                  Tem certeza que deseja recusar este pedido? Esta ação é irreversível!
              </h4>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button class="btn btn-default" (click)="fecharModal()">Recusar</button>
          <button class="btn btn-primary" (click)="fecharModal()">Não recusar</button>
        </div>
      </div>
    </div>
  </div>-->
