.card{
  background-color: #FAFAFA;
  border-bottom: 4px solid #E5E5E5;
  margin-top: 40px;
  /*margin-bottom: 20px;*/
  box-shadow: 0px 0px 30px #edebeb;

}
.gradeHide{
  display: none;
}
.gradeShow{
  display: block;
}
.card-header{
  padding: 10px;
  background-color: #E5E5E5;
}
.card-text{
  max-height: 100px;
  min-height: 100px;
  overflow: hidden;
  /*background-color: #fff;*/
}
.card-body{
  background-color: #FAFAFA;
  padding: 10px;
}
.img{
  display: block;
  background-color: #000000;
  width: 100%;
  height: 200px;
  background-image: url('https://s-media-cache-ak0.pinimg.com/736x/0f/82/19/0f8219c0c0b498c6b0a50cf1753a1214.jpg');
  background-size: 360px 360px;
  background-position: center;
  display: table;
  position: relative;
}
.titulo{
  display: table-row;
  position: absolute;
  bottom: 0px;
  padding: 5px;
}
.titulo h3{
  color: #fff;
}
.degrade{
  width: 100%;
  height: 200px;
  background: -webkit-linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.8)); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.8)); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.8)); /* For Firefox 3.6 to 15 */
  background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.8)); /* Standard syntax */
}

.foto-ecomendante{
  display: inline-block;
  float: left;
  margin: 10px;
  margin-left: 0px;
}
.nome-encomendante{
  min-height: 15px;
  max-height: 15px;
  overflow: hidden;
}
.foto-ecomendante img{
  width: 40px;
  height: 40px;
  border-radius: 50%;
}
.classificacao{
  margin-top: -7px;
}
.classificacao li{
  display: inline-block;
}
.tempo-restante{
  margin-top: 10px;
}
.tempo-restante span{
  display: inline-block;
  float: left;
  font-size: 20px;
  margin: 5px;
  margin-top: 0px;
}
.tempo{
  display: inline;
}
.tempo-dias{
  color: red;
  display: inline;
}
.botoes{
  float: right;
  /*margin-top: 16px;*/
  margin: 10px;
}
.botoes button{
  margin-left: 5px;
}
