/* You can add global styles to this file, and also import other style files */
@font-face {
    font-family: 'Love Ya Like A Sister';
    src: url('/assets/fonts/LoveYaLikeASister.ttf');
}
/*.panel{
  margin-bottom: 0px;
  border-radius: 0px;
  border: 0px;
  background-color: rgb(124, 57, 0);
  color: #fff;
  height: 70px;
}*/
/*.navbar{
  margin-bottom: 0px;
  background-color: rgb(94, 48, 0);
  border-radius: 0px;
  border: 0px;
  border-bottom: 4px solid rgb(77, 41, 4);
  color: #fff;
  height: 25px;
}*/
